@model IEnumerable<TallerMVC.Models.Equipo>

@{
    ViewData["Title"] = "List";
}

<h1>Tabla de posiciones</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
			<th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Partidos Jugados
            </th>
            <th>
                Partidos Ganados
            </th>
            <th>
                Partidos Empatados
            </th>
            <th>
                Partidos Perdidos
            </th>
            <th>
                Puntos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosJugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosGanados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosEmpatados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosPerdidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id}, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning"})
            </td>
        </tr>
}
    </tbody>
</table>
